certifi==2021.10.8
click @ file:///C:/ci/click_1646038601470/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543113403/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe==2.1.1
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
