<!DOCTYPE html>
<html>

<body>

    {% extends "layout.html" %}
    {% block content %}

    <div class="home">
        <h1>Audio Tag</h1>
        <p>Upload files and click submit to get metadata.</p>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file-upload">
                <input type="file" id="file-upload" name="file">
                <i class="fa fa-upload custom-file-upload buttonHover" aria-hidden="true"> Choose File</i>
            </label>

        </div>
        <div id="infoDiv" class="preview">
            <p></p>
        </div>
        <div>
            <input type="submit" value=Submit />
        </div>
    </form>
    </div>
    {% endblock %}


</body>

</html>